*{
	box-sizing: border-box;
}

.menu{
	float: left;
	width: 20%;
	text-align: center;
}

.menu a{
	background-color: #e5e5e5;
	padding: 8px;
	margin-top: 7px;
	display: block;
	width: 100%;
	color: black;
}

.principal{
	float: left;
	width: 60%;
	padding: 0 20px;
}

.droite{
	background-color: #e5e5e5e5;
	width: 20%;
	float: left;
	padding: 13px;
	margin-top: 7px;
	text-align: center;
}

@media only screen and (max-width: 620px){
	.menu, .principal, .droite{
		width: 100%;
	}
}